.event {
    border-radius: 10px;
    position: relative;
    min-width: 0;
    grid-row: auto / auto;
}

.event > * {
    white-space: nowrap;
}

.event-info {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 57;
}