.instructor {
    background-color:gray;
    border-radius: 10px;
    min-width: 0;
    grid-row: 1 / 2;
}

.instructor-name {
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
}

.hot-seat {
    grid-column: auto / span 15;
    background-color: blue;
    height: 25%;
    position: relative;
    top: 50%;
    transform: translate3d(-50%,-50%,0);
    width: 100%;
    z-index: 100;
    left: 50%;
    opacity: 0.3;
}