.line {
    grid-column: 1 / end;
    margin-top: 20px;
    position: relative;
}

.horizontal-line {
    width: 100%;
    height: 10px;
    background-color: lightgray;
    position: absolute;
    z-index: -1;
}

span.line-name {
    position: absolute;
    left: 2px;
}

.instructors-container {
    display: grid;
    grid-template-columns: repeat(1020, 1fr);
    position: relative;
    background-color: rgba(123,21,244, 0.3);
}

.events-container {
    display: grid;
    grid-template-columns: repeat(1020, 1fr);
    position: relative;
    background-color: rgba(123,21,244, 0.3);
}

.times {
    display: grid;
    position: absolute;
    grid-template-columns: repeat(17, 1fr);
    width: 100%;
    top: -20px;
}

.time {
    padding-left: 2px;
    text-align: left;
    z-index: 100;
    opacity: 0.7;
}