.menu-bar {
    width: 6px;
    height: 6px;
    background-color: black;
    border-radius: 50%;
    opacity: 0.4;
    margin: 3px auto;
    position: relative;
    z-index: 103;
}

.stud-menu {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: left;
}

.stud-menu-button {
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px;
    z-index: 103;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.stud-menu-button {
    background: none;
    border: none;
}

.stud-menu-button:hover .menu-bar {
    opacity: 1;
}

.menu-popup {
    z-index: 105;
    position: absolute;
    display: block;
    cursor: pointer;
}

.menu-popup > li {
    background-color: white;
    width: 100%;
    border: solid 1px black;
    padding: 1px 2px;
    font-weight: normal;
    z-index: 105;
    position: relative;
}

.menu-popup > li:hover {
    background-color: rgb(100, 100, 100);
    font-weight: bold;
}

img.launch, img.land {
    height: 25px;
    width: 25px;
}

button.launch {
    border: none;
    background: transparent;
    position: relative;
    z-index: 104;
    cursor: pointer;
    height: 25px;
    width: 25px;
}

/* li::before {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
} */

.sub-menu {
    z-index: 105;
    display: none;
    right: 0;
    transform: translate(99%, -1.6em);
}


li:hover > .sub-menu {
    display: block;
    z-index: 105;
}
